<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>الصفحة الرئيسية</title>
</head>
<body>
    <div class="container">
        <h1>مرحبا بكم في موقعنا</h1>
        <div class="hello">
            <a href="{{ url_for('register') }}">إنشاء حساب جديد</a>
            <a href="{{ url_for('login') }}">تسجيل الدخول</a>
        </div>
    </div>
</body>
</html>
